@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #050c0f;
}

.section-padding {
    padding: 100px 0;
}

/* carousel section */

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 250px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    font-weight: 200;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

/* navbar section */

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #FFFFFC;
}

.navbar-nav a:hover {
    color: #AB2346;
}

.navbar-brand {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #FFFFFC;
}

.navbar-brand:focus, .navbar-brand:hover {
    color: #AB2346;
}

.navbar-nav .navbar-link {
    color: #050c0f;
}

.w-100 {
    height: 100vh;
}

/* intro section */

#intro {
    height: 100vh;
    width: auto;
    background-color: #FFFFFF;
}

#intro video {
    height: 100vh;
    width: auto;
}

#intro p {
    color: #050c0f;
    font-size: 2rem;
    font-weight: 300;
}

#intro span {
    background: linear-gradient(to bottom right, #AB2346, #1e90ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#intro .btn {
    padding: 10px 30px;
    background-color: #050c0f;
    color: #FFFFFC;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}

#intro .btn:hover {
    color: #050c0f;
    background-color: #AB2346;
}

/* footer */

footer {
    background-color: #050c0f;
}

footer h5 {
    color: #AB2346;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .6px;
}

footer p {
    font-size: 12px;
}

footer a {
    color: #FFFFFC;
    text-decoration: none;
}

footer i {
    padding-right: 5px;
}

footer .py-3 {
    background-color: #AB2346;
}


/* responsive media */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        bottom: 270px;
    }

    .carousel-caption p {
        width: 100%;
    }
    
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .carousel-caption {
        bottom: 300px;
    }

    .carousel-caption h5 {
        font-size: 17px;
    }

    .carousel-caption a {
        padding: 10px 15px;
    }

    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
}
